
  <!-- Section: Team v.3 -->
<section class="team-section my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Our amazing team</h2>
  <!-- Section description -->

  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="assets/chloe.jpg" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Chloe S.</h4>
        <h6 class="font-weight-bold grey-text mb-3">Co-founder and Lead Developer</h6>
        <p class="grey-text">Chloe is a computer science student at the University of Waterloo.</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter"> </i>
        </a>
        <!--Dribbble -->
        <a class="p-2 fa-lg dribbble-ic">
          <i class="fab fa-dribbble"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="assets/steph.jpg" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Stephanie C.</h4>
        <h6 class="font-weight-bold grey-text mb-3">Co-founder</h6>
        <p class="grey-text">Stephanie is a MD student at the University of Western Ontario.</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!--YouTube -->
        <a class="p-2 fa-lg yt-ic">
          <i class="fab fa-youtube"> </i>
        </a>
        <!--Instagram-->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->

  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="assets/sofina.jpg" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Sofina L.</h4>
        <h6 class="font-weight-bold grey-text mb-3">Co-founder</h6>
        <p class="grey-text">Sofina is a FARM (Financial and Risk Management) student at the University of Waterloo.</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter"> </i>
        </a>
        <!-- GitHub-->
        <a class="p-2 fa-lg git-ic">
          <i class="fab fa-github"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->
    
    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="assets/sophia.jpg" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Sophia S.</h4>
        <h6 class="font-weight-bold grey-text mb-3">Co-founder and Developer</h6>
        <p class="grey-text">Sophia is a mathematical finance student at the University of Waterloo.</p>
        <!-- Google +-->
        <a class="p-2 fa-lg gplus-ic">
          <i class="fab fa-google-plus-g"> </i>
        </a>
        <!--LinkedIn -->
        <a class="p-2 fa-lg li-ic">
          <i class="fab fa-linkedin-in"> </i>
        </a>
        <!--Email-->
        <a class="p-2 fa-lg email-ic">
          <i class="fas fa-envelope"> </i>
        </a>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row-->
  <div class="row text-center text-md-left">

    <!-- Grid column -->
    <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
      <div class="avatar mb-md-0 mb-4 mx-4">
        <img src="assets/crystal.jpg" class="rounded z-depth-1" alt="Sample avatar">
      </div>
      <div class="mx-4">
        <h4 class="font-weight-bold mb-3">Crystal Y.</h4>
        <h6 class="font-weight-bold grey-text mb-3">Lead Developer</h6>
        <p class="grey-text">Sofina is a FARM (Financial and Risk Management) student at the University of Waterloo.</p>
        <!-- Facebook-->
        <a class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f"> </i>
        </a>
        <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter"> </i>
        </a>
        <!-- GitHub-->
        <a class="p-2 fa-lg git-ic">
          <i class="fab fa-github"> </i>
        </a>
      </div>
    </div>
    
  </div>
  <!-- Grid row-->

</section>
<!-- Section: Team v.3 -->