<div class="wrapper" >
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" ><mdb-icon fas icon="user-graduate"></mdb-icon> &nbsp;Profile</a>
            </li>
            <li>
                <a mdbPageScroll href = "/student-dashboard#projects"><mdb-icon fas icon="rocket"></mdb-icon> &nbsp;Projects</a>
            </li>
            <!-- 
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>-->
        </ul>
    </nav>
    <div style="flex-direction: row;" [@fadeInOut]>
        <div style="position:relative; width:82vw; height:100vh;">
        <div style="position:absolute;top: 12%; width:100%;">
            <h1 style=" text-align: center; font-size: 28px; color: darkgrey;font-family: Poppins, sans-serif;">Welcome back, <span class="accent">Crystal</span></h1>
            <p style=" text-align: center;" id="value-prop-1">You have <span class="accent">8</span> profile visits</p>
        </div>
        <img style="position:absolute; left: 30%; top:32%; height:60%; width:auto;" src="assets/student-logo.PNG" />
        <img style="position:absolute; left: 50%; top:32%; height:60%; width:auto;" src="assets/tree.PNG" />
        </div>
        <ngb-tabset id="projects" type="pills" class="tabset1" [orientation]="currentOrientation" >
        <ngb-tab title="APPLICATIONS">
            <ng-template ngbTabContent>
                    <div class="rectangle-box">
                        <h1>PROJECT</h1>
                        <span style="padding-left: 40px;">by &nbsp;</span><span style="color: #879017; text-transform: uppercase;"><b> NGO charity </b></span>
                        <p>Waterloo, ON</p>
                        <p style="font-size:12pt;">Status: <span style="color:black;font-size:12pt;"><b>APPLIED</b></span></p>
                        <div class="decor-strip" style="background-color: #828a27;"></div>
                    </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="ALL PROJECTS">
            <ng-template ngbTabContent>
                <div class="rectangle-box">
                    <h1>PROJECT</h1>
                    <span style="padding-left: 40px;">by &nbsp;</span><span style="color: #879017; text-transform: uppercase;"><b> NGO charity </b></span>
                    <p>Waterloo, ON</p>
                    <p style="font-size:12pt;">Status: <span style="color:black;font-size:12pt;"><b>APPLIED</b></span></p>
                    <div class="decor-strip" style="background-color: #828a27;"></div>
                </div>
                <div class="rectangle-box">
                    <h1>PROJECT 2</h1>
                    <span style="padding-left: 40px;">by &nbsp;</span><span style="color: #879017; text-transform: uppercase;"><b> NGO charity </b></span>
                    <p>Waterloo, ON</p>
                    <p style="font-size:12pt;">Status: </p><p><ngb-progressbar showValue="true" type="warning" [value]="150" [max]="200"></ngb-progressbar></p>
                    <div class="decor-strip" style="background-color: #828a27;"></div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="COMPLETED PORJECTS">
            <ng-template ngbTabContent>
                
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
    
</div>

