<app-navbar></app-navbar>
<div class="container"><img id="pear-name" src="assets/pear-name.png" />
  <p id="value-prop-1">To create an open platform that increases charities' accessibility to student talent,</p>
  <p id="value-prop-2">and equips students with professional experience through charitable projects</p>
  <div class="row"> 
    <div class="col-1"></div>
    <div class="col-5">
      <button class="btn btn-option btn-block float-right" id="student-button" type="button" onclick="window.location.href = '/public#software-card';">STUDENTS</button>
    </div>
    <div class="col-5">
      <button class="btn btn-option float-left btn-block" id="charity-button" type="button" onclick="window.location.href = '/public#charities-info';">CHARITIES</button>
    </div>
    <div class="col-1"></div>
  </div><img id="pear-logo" src="assets/pear-logo.png" /><br /><br /><br /><br /><br /><br />
</div>
<div id="for-students">
  <div id="for-student-desc">
    <h1>FOR STUDENT</h1>
    <p>- Develop <span class="accent">professional</span> skills</p>
    <p>- Explore your <span class="accent">career interests</span></p>
    <p>- Contribute to <span class="accent">social cause</span></p>
    <p>- Work anywhere, anytime</p>
    <button class="btn btn-option btn-block float-right explore-projects" type="button" onclick="window.location.href = '/public#software-card';">EXPLORE PROJECTS</button>
  </div>
  <img id="for-student-logo" src="assets/for-student-logo.png" />
</div>
<div id="for-charities">
  <div id="for-charities-desc">
    <h1>FOR CHARITY</h1>
    <p>We offer &nbsp;<span style="font-size: 28px;font-weight: bolder;" class="accent">2</span> &nbsp;services</p>
  </div>
  <div id="for-charities-1">
    <p><span style="font-size: 28px;font-weight: bolder;" class="accent">1.</span> post a <span class="accent">project</span> online</p>
    <br>
    <p><span style="font-size: 28px;font-weight: bolder;" class="accent">2.</span> host a <span class="accent">competition</span> </p>
  </div>
  <div id="how-it-works">
    <p id="text">How it works <img src="assets/map.png"/> </p>
    <p id="arrow">&#9660;</p>
  </div>
  <img id="for-charities-logo" src="assets/for-charity-logo.png"/>
</div>
<div id="workflow">
    <img src="assets/workflow.png" />
</div>
<div id="user-statistics">
  <h1 class="text-center mb-sm-0 font-weight-bold p-4" id="signup">SIGN UP TODAY!</h1>
  <div class="d-flex text-center justify-content-center p-5" id="signup_body">
    <div class="d-flex flex-column bg-light m-3 shadow" style="width:16rem; height: 20rem;">
      <div style="height:8rem;"><img class="p-5" src="/images/student.png" alt="..." /></div>
      <div style="height:5rem;">NUMBER OF<span class="student_text">STUDENTS</span> REGISTERED</div>
      <div class="d-flex align-items-center justify-content-center student_background" style="height: 7rem;">
        <h1 class="text-light font-weight-bold">10,000</h1>
      </div>
    </div>
    <div class="d-flex flex-column bg-light m-3 shadow" style="width: 16rem; height: 20rem;">
      <div style="height:8rem;"><img class="p-5" src="assets/charity.png" alt="..." /></div>
      <div style="height:5rem;">NUMBER OF<span class="charity_text">CHARITIES</span> REGISTERED</div>
      <div class="d-flex align-items-center justify-content-center charity_background" style="height: 7rem;">
        <h1 class="text-light font-weight-bold">1,000</h1>
      </div>  
    </div>
    <div class="d-flex flex-column bg-light m-3 shadow" style="width: 16rem; height: 20rem;">
      <div style="height:8rem;"><img class="p-5" src="assets/project.png" alt="..." /></div>
      <div style="height:5rem;">NUMBER OF<span class="project_text">PROJECTS</span> COMPLETED</div>
      <div class="d-flex align-items-center justify-content-center project_background" style="height: 7rem;">
        <h1 class="text-light font-weight-bold">100</h1>
      </div> 
    </div> 
  </div> 
</div> 
<div class="app">
  <div id="job-scroll-preview">
    <div class="card" id="software-card"><img class="soft-keyboard" src="assets/keyboard.png" alt="designer icon" /><img class="software-desc" src="assets/software-desc.png" alt="designer description" /></div>
    <div class="card" id="design-card"><img class="design-icon" src="assets/design-icon.png" alt="designer icon" /><img class="design-desc" src="assets/designer-desc.png" alt="designer description" /></div>
  </div>
</div>
<div id="testsnap" snapscroll="" snap-height="500px">
	<div class="pp-section">Some section</div>
	<div class="pp-section">Some section</div>
	<div class="pp-section">Some section</div>
	<div class="pp-section">Some section</div>
</div>